<div class="columns">
    <div class="column is-one-third">

    </div>
    <div class="column">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a id="navbar-burguer-id" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbar-menu-id" class="navbar-menu">
                <div class="navbar-start">

                    <a class="navbar-item">
                        Inicio
                    </a>

                    <a class="navbar-item">
                        Empresas
                    </a>

                    <a class="navbar-item">
                        Ofertas
                    </a>

                    <a class="navbar-item">
                        Mantenimientos
                    </a>

                </div>
                <div class="navbar-end">
                </div>
            </div>
        </nav>
    </div>
</div>
